@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

.logo {width: 10%; float: left;}


.form-control{
    font-size: 12px !important;
    border-radius: 0 !important;
    color: #fff !important;
    background: transparent !important;
    box-shadow: none !important;

}
body{
    background-image: url(./img/hero-bg.png);
    background-size: cover;
    background-position: center;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #000000;
}

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #696969;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

#hero {
	background-size: cover;
    background-position: center;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#overview .overview {
	
	flex-direction: column;
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	padding: 500px 0;
}

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}




/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #696969;
		font-weight: 500;
	}
}
/* End Keyframes */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#overview .overview-bottom .overview-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */



/* Search Form */
* {
	box-sizing: border-box;
  }
  body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;;
  }
 

  #search-form {
	border: 1px solid rgb(0, 0, 0);
	width: 700px;
	position: relative;
  }
  
  #header h2 {
	height: 80px;
	background: rgb(63, 63, 63);
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  #header h1 {
	color: #FFF;
	margin-left: 20px;
	font-size: 1.3em
  }
 
  .flight {
	padding: 20px;
  }
  .flight input, select {
	  color: #6B6A6A;
  }
  
  .info-box {
	padding: 10px 0;
	margin-top: 20px;
	flex: 1;
	border-right: 20px solid transparent;
  }
  .info-box:last-child {
	border-right: none;
  }
  .info-box label {
	display: block;
	color: #6B6A6A;
	font-size: .9em;
  }
  .info-box input[type=text], input[type=submit], select {
	border: none;
	outline: none;
	background: #E2E0E0;
	margin-top: 5px;
	width: 100%;
	padding: 5px;
	height: 30px;
	border-radius: 3px;
  }
  
  #flight-type {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px dotted silver;
  }
  #flight-type .info-box {
	flex: 0 1 25%;
	display:flex;
	align-items: center;
  }
  
  #flight-depart {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dotted silver;
  }
  #flight-depart .info-box {
	position: relative;
  }
  #depart-res, #arrive-res {
	position: absolute;
	background: #FFFFFF;
  }
  #depart-res p, #arrive-res p {
	padding: 7px 2px;
	border-bottom: 1px dotted silver;
  }
  #depart-res p:hover, #arrive-res p:hover {
	background: #EDEDED;
	cursor: pointer;
  }
  
  #flight-dates {
	display: flex;
	border-bottom: 1px dotted silver;
  }
  
  #flight-info {
	display: flex;
	border-bottom: 1px dotted silver;
  }
  
  #flight-search .info-box {
	display: flex;
	justify-content: center;
  }
  #flight-search input[type=submit] {
	background: #106100ce;
	color: white;
	padding: 0;
	height: 50px;
	font-size: 1.2em;
  }
  
 
#container {
  position: absolute;
  width: 386px;
  height: 401px;
  left: 84px;
  top: 86px;
  border: 1px solid #CCCFDB;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Centra No1;
}

#Container_body {
  background: #F5F6FA;
  border-radius: 12px;
}

.departureDate {
  height: 20px;
  left: 9.18%;
  right: 73.42%;
  top: calc(50% - 20px/2 - 358.5px);
  font-size: 16px;
  line-height: 20px;
  color: #1F3366;
  padding-bottom:10px;
}
.row {
  width: 100%;
}
.departure{
  height: 20px;
  left: 9.18%;
  right: 82.12%;
  top: calc(50% - 20px/2 - 326.5px);
  font-size: 16px;
  line-height: 20px;
  color: #6B7499;
  width: 50%;
  float: left;
}
.arrival {
  height: 20px;
  left: 29.99%;
  right: 56.58%;
  top: calc(50% - 20px/2 - 326.5px);
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #6B7499;
}
.departureTime {
  height: 26px;
  left: 9.18%;
  right: 83.63%;
  top: calc(50% - 26px/2 - 303.5px);
  font-size: 22px;
  line-height: 26px;
  color: #1F3366;
  float:left;
  width: 50%;
}
.arrivalTime {
  height: 26px;
  left: 35.95%;
  right: 56.58%;
  top: calc(50% - 26px/2 - 303.5px);
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #1F3366;
}
.right {
  float:left;
  font-size:20px;
}
.airwyas {
  height: 20px;
  left: 9.18%;
  right: 80.98%;
  top: calc(50% - 20px/2 - 272.5px);
  font-size: 16px;
  line-height: 20px;
  color: #1F3366;
  float: left;
}

.time {
  height: 20px;
  left: 32.54%;
  right: 56.58%;
  top: calc(50% - 20px/2 - 272.5px);
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #6B7499;
}

.line {
  background: #CCCFDB;
}

.body {
  padding:10px;
}
  



#container1 {
	position: center;
	width: 386px;
	height: 110px;
	
	border: 1px solid #000413;
	box-sizing: border-box;
	border-radius: 12px;
	font-family: Centra No1;
  }
  
  #Container1_body {
	background: #F5F6FA;
	border-radius: 12px;
  }
  
  .departureDate {
	height: 20px;
	left: 9.18%;
	right: 73.42%;
	top: calc(50% - 20px/2 - 358.5px);
	font-size: 16px;
	line-height: 20px;
	color: #1F3366;
	padding-bottom:10px;
  }
  .row {
	width: 100%;
  }
  .departure{
	height: 20px;
	left: 9.18%;
	right: 82.12%;
	top: calc(50% - 20px/2 - 326.5px);
	font-size: 16px;
	line-height: 20px;
	color: #6B7499;
	width: 50%;
	float: left;
  }
  .arrival {
	height: 20px;
	left: 29.99%;
	right: 56.58%;
	top: calc(50% - 20px/2 - 326.5px);
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	color: #6B7499;
  }
  .departureTime {
	height: 26px;
	left: 9.18%;
	right: 83.63%;
	top: calc(50% - 26px/2 - 303.5px);
	font-size: 22px;
	line-height: 26px;
	color: #1F3366;
	float:left;
	width: 50%;
  }
  .arrivalTime {
	height: 26px;
	left: 35.95%;
	right: 56.58%;
	top: calc(50% - 26px/2 - 303.5px);
	font-size: 22px;
	line-height: 26px;
	text-align: right;
	color: #1F3366;
  }
  .right {
	float:left;
	font-size:20px;
  }
  .airwyas {
	height: 20px;
	left: 9.18%;
	right: 80.98%;
	top: calc(50% - 20px/2 - 272.5px);
	font-size: 16px;
	line-height: 20px;
	color: #1F3366;
	float: left;
  }
  
  .time {
	height: 20px;
	left: 32.54%;
	right: 56.58%;
	top: calc(50% - 20px/2 - 272.5px);
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	color: #6B7499;
  }
  
  .line {
	background: #CCCFDB;
  }
  
  .body {
	padding:10px;
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container1 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}